<!DOCTYPE html>
<html lang="en">

<head>
    
    {% block header %}
        {% include 'layout/header.html'%}
    {% endblock %}

</head>

<body class="bg-light">

    <div class="container">
        <main>

        {% block title %}
            {% include 'layout/title.html'%}
        {% endblock %}

            <div class="d-flex flex-md-column flex-lg-row">

            {% block fitness %}
                {% include 'layout/fitness.html'%}
            {% endblock %}

            {% block lifting %}
                {% include 'layout/oweightlifting.html'%}
            {% endblock %}

            </div>

            <div class="d-flex flex-md-column flex-lg-row">

            {% block boxing %}
                {% include 'layout/boxing.html'%}
            {% endblock %}

            {% block studio %}
                {% include 'layout/studio.html'%}
            {% endblock %}
                
            </div>

        </main>

        {% block footer %}
            {% include 'layout/footer.html'%}
        {% endblock %}
    </div>

    <!-- javascript -->

    {% block venderJs %}
        {% include 'layout/venders.html'%}
    {% endblock %}

</body>
</html>