<!-- Navbar -->
<div class="d-flex flex-row justify-content-center align-items-center bg-dark px-5 py-3">
  <div class="col-1 me-5">
    <a href="{{ g.url }}">
      <img src="{{ g.gym_logo.url }}" alt="Physique Magnifique" class="rounded-circle img-fluid" width="80%" height="80%">
    </a>
  </div>
  <div class="col-11">
    <a class="fs-5 text-decoration-none" href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i></a>
    <a class="nl fs-5 ms-3 text-decoration-none text-center {% if request.path == '/fitness' %}active{% endif %}" href="{% url 'fitness' %}">Fitness</a>
    <a class="nl fs-5 ms-3 text-decoration-none text-center {% if request.path == '/weightlifting' %}active{% endif %}" href="{% url 'lift' %}">Olympic Weightlifting</a>
    <a class="nl fs-5 ms-3 text-decoration-none text-center {% if request.path == '/boxing' %}active{% endif %}" href="{% url 'boxing' %}">Boxing</a>
    <a class="nl fs-5 ms-3 text-decoration-none text-center {% if request.path == '/studio' %}active{% endif %}" href="{% url 'studio' %}">Martial Arts & Dance Studio</a>
  </div>
</div>