a, i {
    color: #4d4d4d;
}

i:hover, a:hover, .active {
    color: #ffffff;
}

.p-1x {
    padding: 10%;
}

.py-1x {
    padding-top: 3%;
    padding-bottom: 3%;
}

.mt-1x {
    margin-top: 7%;
}

.nl {
    font-size: 1.6rem;
}

/* Adjust the text size of FullCalendar events */
.fc table {
    font-size: 1.7rem;
}

.fc .fc-toolbar-title {
    font-size: 2.5rem;
}

.btn {
    --bs-btn-font-size: 1.4rem;
}