{% load static %}
<!-- Navbar (Desktop ONLY) -->
<div class="d-flex flex-row justify-content-center align-items-center bg-dark px-5 py-1x" id="desktop-menu">
  <!-- Logo/Brand Info -->
  <div class="col-1 me-5">
    <a href="{{ g.url }}">
      <img src="{% static 'images/physmag_logo.png' %}" alt="Physique Magnifique" class="rounded-circle img-fluid" width="80%" height="80%">
    </a>
  </div>
  <!-- Nav Items -->
  <div class="col-11">
    <a class="fs-3 text-decoration-none" href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i></a>
    <a class="nl ms-3 text-decoration-none text-center {% if request.path == '/fitness' %}active{% endif %}" href="{% url 'fitness' %}">Fitness</a>
    <a class="nl ms-3 text-decoration-none text-center {% if request.path == '/weightlifting' %}active{% endif %}" href="{% url 'lift' %}">Olympic Weightlifting</a>
    <a class="nl ms-3 text-decoration-none text-center {% if request.path == '/boxing' %}active{% endif %}" href="{% url 'boxing' %}">Boxing</a>
    <a class="nl ms-3 text-decoration-none text-center {% if request.path == '/studio' %}active{% endif %}" href="{% url 'studio' %}">Martial Arts & Dance Studio</a>
  </div>
</div>