<div class="container">
    <main>

        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://res.cloudinary.com/dzu2mepwj/image/upload/v1672679415/Physique%20Magnifique/physmag_logo_mviaph.png" alt="" width="72" height="72">
            <h2>Physique Magnifique</h2>
            <p class="lead">Schedule</p>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
          <div class="text-bg-dark me-md-3 p-3 p-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">Fitness</h2>
              <p>Body Transformation - TWR - 6-7am</p>
              <p>Body Transformation - Sat - 7:30-8:30am</p>
              <p>Body Transformation - MW - 7-8pm</p>
              <p>Circuit Training - MWF - 6-7pm</p>
            </div>
            <a href="/fitness" role="button" class="btn btn-light">View Live Schedule</a>
          </div>
          <div class="bg-light me-md-3 p-3 p-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
              <h2 class="display-5">Olympic Weightlifting</h2>
              <p>Olympic Weightlifting - MTWRF - 3-8pm</p>
              <p>Olympic Weightlifting - Sat - 10am-3pm</p>
            </div>
            <a href="/olympic-weightlifting" role="button" class="btn btn-dark">View Live Schedule</a>
          </div>
        </div>
      
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
          <div class="bg-light me-md-3 p-3 p-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
              <h2 class="display-5">Boxing</h2>
              <p>Boxing Movement - MTWRF - 5:30-6am</p>
              <p>Boxing (Morning) - MTWRF - 6-7am</p>
              <p>Boxing (Morning) - TR - 6-7am</p>
              <p>Boxing (ages 6 & below) - MW - 4-5pm</p>
              <p>Boxing (ages 7-12) - MTWR - 5-6pm</p>
              <p>Boxing (ages 13-17) - MTWR - 6-7pm</p>
              <p>Boxing (ages 18+) - MTWR - 6-7pm</p>
              <p>Strength & Boxing - Sat - 9:15-11am</p>
            </div>
            <a href="/boxing" role="button" class="btn btn-dark">View Live Schedule</a>
          </div>
          <div class="text-bg-primary me-md-3 p-3 p-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">Martial Arts & Dance Studio</h2>
              <p>Nogi JiuJitsu - See Live Schedule</p>
              <p>Muay Thai - See Live Schedule</p>
              <p>Zumba - MWR - 7-8pm</p>
            </div>
            <a href="/studio" role="button" class="btn btn-light">View Live Schedule</a>
          </div>
        </div>

    </main>